
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}
html, body{
	height: 100%;
}
:root {
	--main-font: 'Poppins', sans-serif;
	--main-font-color: #2F281E;
	--main-text-color: #544837;
	--buutton-bgcolor: #FF9900;
}
body{
	font-family: var(--main-font);
   color: var(--main-font-color);
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
/* ------------------------------------------------------- */
.wrapper{
	overflow: hidden;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.container{
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
} 
.page{
	flex: 1 1 auto;
}  
.title{
	font-weight: 700;
	font-size: 36px;
	line-height: 54px;
}
.text{
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: var(--main-text-color);
}


/* ------------------------------------------------------- */

.header__container{
	padding-top: 20px;
	padding-bottom: 15px;
	gap: 306px;
	align-items: center;
	min-height: 78px;
}
.header__content{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu__list{
	display: flex;
	
}
.menu__item:not(:last-child){
	padding: 0 14px 0 14px;
}
.header__gujgik{
	display: flex;
	align-items: center;
}
.menu__link{
	display: block;
	font-weight: 400;
	font-size: 14px;
	line-height: 28px;
	transition: all 0.5s;
}
.menu__link:hover{
	color:#FF9900;
	transform: scale(1.2);
}
.menu__buttons{
	margin-left: 64px;
}
.menu__button{
	background-color: #FF9900;
	padding: 11px 25px;
	border-radius: 5px;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	
	
}
.menu__button--white{
	color: #173A56;
	background-color: #fff;
	border: 1px solid #BCD0E5;
	padding: 11px 25px;
	border-radius: 5px;
	
}
/* ------------------------------------------------------- */
.main{
	padding-top: 15px;
	padding-bottom: 60px;
}
.main__container{
	display: flex;
}
.main__content{
	flex: 0 1 50%;
	align-self: flex-end;
	padding-bottom: 81px;
	padding-right: 3px;
}
.main__title{
	font-weight: 700;
	font-size: 44px;
	line-height: 54px;
}
.main__title:not(:last-child){
	margin-bottom: 30px;
}

.main__text{
	font-size: 18px;
	line-height: 28px;
	color: var(--main-text-color);
	max-width: 458px;
}
.main__text:not(:last-child){
	margin-bottom: 45px;
}
.main__actions{

}
.actions-main{
	display: flex;
	align-items: center;
}
.actions-main__button{
	padding: 15px 41px 14px;
	background-color: #FF9900;
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
}
.actions-main__button:not(:last-child){
	margin-right: 30px;
}
.actions-main__block{
	display: flex;
}
.actions-main__icon{
	padding-right: 8px;
}
.actions-main__button--no-background{
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	text-decoration-line: underline;
	color: #FF9900;
}

.main__decor{
	flex: 0 1 50%;
}
.main__image{
	margin-right: -18px;
	
}
