.home{
	.hero{
	background-image: url(../img/bg-img.jpg);
	background-size: cover;
	background-position: center;
	height: 130vh;
	background-repeat: no-repeat;
	margin-bottom: 140px;

	@media (max-width:$tab) {
		min-width: 400px;
		height: 50vh;
	}

	&__title{
		max-width: 496px;
		margin-bottom: 30px;

		@media (max-width:$tab) {
			font-size: 30px;
			max-width: 300px;
			line-height: 30px;
		}
	}

	&__container{
		padding-top: 220px;

		@media (max-width:$tab) {
			padding-top: 50px;
		}
	}

	.fa-arrow-right{
		margin-left: 35px;
	}

	}
}

/*******************cards*/
.cards{
	margin-bottom: 140px;

	&__container{
		display: flex;
		gap: 50px;

		@media (max-width:$tab) {
			flex-direction: column;
		}
	}
	&__fruits{
		background-image: url(../img/veg.png);
		background-repeat: no-repeat;
		border-radius: 30px;
		width: 100%;
		height: 378px;

		@media (max-width:$tab) {
		}
	}

	&__veg{
		background-image: url(../img/frut.png);
		background-repeat: no-repeat;
		border-radius: 30px;
		width: 100%;
		height: 378px;

		@media (max-width:$tab) {
			
		}
	}

	&__inner{
		padding: 105px 0 105px 55px;
	}
}

/*******************about*/
.about{
	background-color: $about-color;
	margin-bottom: 282px;

	@media (max-width:$tab) {
		margin-bottom: 50px;

	}
	&__container{
		padding-top: 130px;
		display: flex;

		@media (max-width:$tab) {
			flex-direction: column;
		}
	}

	&__img{
		flex: 0 1 50%;
	}

	&__content{
		flex: 0 1 50%;
	}

	&__title{
		line-height: 58.5px;
	}

	&__text{
		min-width: 670px;
		margin: 22px 0 56px 0;

		@media (max-width:$tab) {
			min-width: 150px;
			font-size: 30px;
			line-height: 50px;
		}
	}

	&__inner{
		display: flex;
		gap: 20px;
		align-items: center;
		margin-bottom: 25px;

		@media (max-width:$tab) {
			flex-direction: column;
		}
	}

	&__textname{
		min-width: 552px;

		@media (max-width:$tab) {
			min-width: 150px;
			font-size: 30px;
			line-height: 50px;
		}
	}

	&__subtitle{
		@media (max-width:$tab) {
			font-size: 40px;
			line-height: 50px;
			margin-bottom: 10px;
		}
	}

	&__button{
		padding: 52px 0 150px 0;
	}

	&__btn-gray{
		display: inline-block;
		padding: 25px 46px 25px 33px;
		font-weight: 400;
		font-size: 19px;
		line-height: 32px;
		letter-spacing: 0.6px;
		text-transform: capitalize;
		color: #FFFFFF;
		background-color: $title-color;
		border-radius: 16px;

		@media (max-width:$tab) {
			font-size: 30px;
		}
	}

	.fa-arrow-right{
		margin-left: 25px;
	}
}

/*******************shopcart*/
.shopcart{
	margin-bottom: 139px;

	@media (max-width:$tab) {
		margin-bottom: 25px;
	}

	&__container{
		display: flex;
		gap: 20px;
		flex-wrap: wrap;
		justify-content: center;

		@media (max-width:$tab) {
			flex-direction: column;
		}
	}

	&__inner{
		background-color: $about-color;
		border-radius: 30px;
		margin-bottom: 20px;
		width: 30%;

		@media (max-width:$tab) {
			width: 100%;
		}
	}

	&__category{
		background-color: $title-color;
		display: inline-block;
		padding: 5px 20px 5px 20px;
		border-radius: 8px;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 15px;
		line-height: 27px;
		letter-spacing: 0.36px;
		color: #FFFFFF;
		margin: 35px 0 0 50px;
	}

	&__img{
		width: 100%;
	}

	&__name{
		padding: 0 30px 10px 30px;
	}

	&__line{
		margin-left: auto;
		margin-right: auto;
		height: 1px;
		width: 85%;
		background-color: #D4D4D4;
	}

	&__price{
		display: flex;
		padding: 10px 0 35px 30px;
		gap: 10px;

		@media (max-width:$tab) {
			flex-direction: column;
		}
	}

	&__oldprice{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 32px;
	letter-spacing: 0.36px;
	text-decoration-line: line-through;
	color: #B8B8B8;
	}

	&__newprice{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 32px;
	letter-spacing: 0.36px;
	color: #274C5B;
	}

	&__rating{
		display: flex;
		align-items: center;

		@media (max-width:$tab) {
			margin-left: 0;
		}
	}

	&__star{
		@media (max-width:$tab) {
			width: 40%;
		}
	}
	
}

/*******************testimonials*/
.testimonials{
	background-image: url(../img/bg2.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 130px 0 0 0;
	margin-bottom: 160px;

	@media (max-width:$tab) {
		margin-bottom: 25px;
	}

	&__container{
		text-align: center;
		margin: 0 auto;
		
	}

	&__title{
		margin-bottom: 60px;

		@media (max-width:$tab) {
			line-height: 50px;
		}
	}

	&__img{
		display: inline-block;
		width: 10%;
		margin-bottom: 20px;

		@media (max-width:$tab) {
			width: 50%;
		}
	}

	&__star{
		display: inline-block;
		width: 10%;
		margin-bottom: 35px;

		@media (max-width:$tab) {
			width: 40%;
		}
	}

	&__text{
		@media (max-width:$tab) {
			font-size: 30px;
			line-height: 50px;
		}
	}

	&__text:nth-child(6){
		margin-bottom: 23px;
	}

	&__consumer{
		margin-bottom: 96px;
	}

	&__line{
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		height: 2px;
		background-color: #E0E0E0;
		margin-bottom: 100px;
	}

	&__inner{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 30px;
	}

	&__percent{
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 42px;
		line-height: 55px;
		text-align: center;
		letter-spacing: 0.36px;
		color: #274C5B;

		@media (max-width:$tab) {
			font-size: 20px;
		}
	}

	&__circle{
		width: 250px;
		min-height: 250px;
		text-align: center;
		padding: 81px 0;
		background: #F1F1F1;
		border: 6px solid #7EB693;
		border-radius: 200px;

		@media (max-width:$tab) {
			width: 250px;
			min-height: 250px;
			border-radius: 200px;
		}
	}

}

/*******************friendlyfarm*/
.frenldyfarm{

	&__inner{
		display: flex;
		position: relative;
		width: 100%;
		

		@media (max-width:$tab) {
			padding: 50px 0;
			z-index: 2;
		}
	}

	&__picture{
		background-image: url(../img/bg3.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: calc(50% + 50px);

		@media (max-width:$tab) {
			position: absolute;
			height: 100%;
			z-index: -1;
			width: 100%;
		}
	}

	&__content{
		background: #FFFFFF;
		border-radius: 30px 0px 0px 30px;
		padding: 39px 0 0 60px;
		margin-left: -50px;
		width: calc(50% + 50px);
	
		@media (max-width:$tab) {
			width: 100%;
			margin: 75px 0 0 0;
			padding: 0 15px 0 25px;
		}
	}

	&__title{
		line-height: 58px;

		&:nth-child(3){
			margin-bottom: 29px;
		}
	}

	&__subtitle{
		margin-bottom: 4px;
	}

	&__text{
		margin-bottom: 9px;
		max-width: 601px;

		&:nth-child(9){
			padding-bottom: 50px;
		}
	}
}


/********************foods*/
.foods{
	background-color: #EFF6F1;
	margin-bottom: 130px;

	&__inner{
		padding: 140px 0 140px 0;
		display: flex;
		gap: 30px;
		overflow-x: hidden;
		width: 100%;
		
		@media (max-width:$tab) {
			flex-direction: column;
		}
	}

	&__juice{
		background-image: url(../img/juice.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 35%;
		min-height: 580px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width:$tab) {
			width: 100%;
		}
	}

	&__organic{
		background-image: url(../img/organic.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 35%;
		min-height: 580px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width:$tab) {
			width: 100%;
		}
	}

	&__nuts{
		background-image: url(../img/nuts.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 35%;
		min-height: 580px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width:$tab) {
			width: 100%;
		}
		
	}

	&__category{
		min-width: 281px;
		min-height: 95px;
		position: absolute;
		background-color: #FFFFFF;
		border-radius: 20px;
		display: flex;
		align-items: center;
		justify-content: center;

		
		@media (max-width:$tab) {
			min-width: 250px;
		}
	}
}

/********************view*/
.view{
	margin-bottom: 229px;

	&__wrapper{
		display: flex;
		align-items: center;
		gap: 59px;
		margin-bottom: 127px;

		@media (max-width:$tab) {
			flex-direction: column;
		}
	}

	&__btn-white{
		display: inline-block;
		padding: 25px 25px 25px 33px;
		background-color: #FFFFFF;
		border: 1px solid #274C5B;
		border-radius: 16px;

		@media (max-width:$tab) {
			font-size: 35px;
		}
	}

	.fa-arrow-right{
		padding-left: 40px;
	}

	&__inner{
		display: flex;
		gap: 30px;

		@media (max-width:$tab) {
			flex-direction: column;
		}
	}

	&__green{
		background-image: url(../img/green.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 50%;
		min-height: 515px;
		position: relative;
		border-radius: 30px;
		display: flex;
		justify-content: center;
		position: relative;

		@media (max-width:$tab) {
			width: 100%;
			min-height: 400px;
			margin-bottom: 200px;
		}
		
	}

	&__tomato{
		background-image: url(../img/tomato.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 50%;
		min-height: 515px;
		position: relative;
		border-radius: 30px;
		display: flex;
		justify-content: center;
		position: relative;

		@media (max-width:$tab) {
			width: 100%;
			min-height: 400px;
		}
	}

	&__about{
		position: absolute;
		width: 90%;
		min-height: 337px;
		background-color: #FFFFFF;
		box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.14);
		border-radius: 30px;
		padding: 53px 0 0 50px;
		margin-top: 250px;

		@media (max-width:$tab) {
			margin-top: 150px;
			padding: 5px 0 10px 25px;
		}
		
	}

	&__user{
		display: flex;
		align-items: center;
		margin-bottom: 12px;
		gap: 10px;

		@media (max-width:$tab) {
			flex-direction: column;
		}
	}

	&__icon{
		width: 5%;

		@media (max-width:$tab) {
			width: 10%;
		}
	}

	&__nameuser{
		@media (max-width:$tab) {
			font-size: 30px;
		}
	}

	&__sub{
		margin-bottom: 38px;

		@media (max-width:$tab) {
			font-size: 30px;
		}
	}

	&__text{
		margin-bottom: 22px;
		max-width: 442px;

		@media (max-width:$tab) {
			font-size: 25px;
		}
	}

	&__btn{
		@media (max-width:$tab) {
			font-size: 25px;
		}
	}

}

/********************adress*/
.adress{
	margin-bottom: 182px;

	
	@media (max-width:$tab) {
		margin-bottom: 50px;
	}
	&__container{
		background-image: url(../img/orange.png);
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
		min-height: 320px;
		border-radius: 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 80px 0 70px;

		@media (max-width:$tab) {
			flex-direction: column;
			min-height: 200px;
		}
	}

	&__title{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 60px;
	letter-spacing: 0.36px;
	text-transform: capitalize;
	color: #FFFFFF;

	@media (max-width:$tab) {
		font-size: 30px;
		line-height: 30px;
	}
	}

	&__button{
		display: flex;
		gap: 10px;

		@media (max-width:$tab) {
			flex-direction: column;
			padding-bottom: 15px;
		}
	}

	&__btn-white{
		display: inline-block;
		padding: 26px 101px 27px 30px;
		background-color: #fff;
		border: 1px solid #CCCCCC;
		border-radius: 16px;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 29px;
		letter-spacing: 0.36px;
		color: #525C60;

		@media (max-width:$tab) {
			font-size: 18px;
			padding: 5px 0 5px 0;
		}
	}

	&__btn-gray{
		display: inline-block;
		padding: 26px 45px 27px 36px;
		background: #274C5B;
		border: 1px solid #274C5B;
		border-radius: 16px;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 29px;
		letter-spacing: 0.36px;
		color: #FFFFFF;

		@media (max-width:$tab) {
			font-size: 25px;
			padding: 10px 25px 10px 25px;
		}
	}

	.fa-arrow-right{
		padding-left: 25px;
	}
}

