.blog{
	margin-bottom: 128px;

	@media (max-width: $tab){
		margin-bottom: 64px;
	}

//hero-blog section
	.hero-blog{
		margin: 123px 0 96px;

		@media (max-width: $tab){
			margin: 73px 0 58px;
		}
	}
//hero-blog section end

//poster section
	.poster{
		margin-bottom: 114px;

		@media (max-width: $tab){
			margin-bottom: 64px;
		}

		&__container{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 68px;

			@media (max-width: $tab){
				grid-template-columns: 1fr;
				grid-gap: 16px;
			}
		}

		&__img{
			max-height: 470px;
		}
		&__content{
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			max-width: 448px;
		}
		&__category{
			padding-bottom: 24px;
		}
		&__title{
			padding-bottom: 16px;
		}
		&__date{
			padding-bottom: 48px;

			@media (max-width: $tab){
				padding-bottom: 24px;
			}
		}
		&__text{
			padding-bottom: 94px;

			@media (max-width: $tab){
				padding-bottom: 64px;
			}
		}
		&__arrow{
			display: inline-block;
			padding-left: 8px;
		}
		&__pages{
			display: flex;
			gap: 24px;
		}
		&__link{
			color: $color-black;

			&:hover{
				color: $color-grey;
			}
		}
	}

//poster section end


//category section
	.category{
		&__menu-list{
			display: flex;
			gap: 39px;
			align-items: baseline;
			margin-bottom: 48px;

			@media (max-width: $tab){
				flex-direction: column;
			}
		}
		&__list{
			border: none;
			border-bottom: 1px solid $color-black;
			padding-bottom: 21px;
			width: 25.375rem;

			@media (max-width: $tab){
				width: 21.4375rem;
			}
		}

		&__item{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 126px 38px;
			margin-bottom: 68px;

			@media (max-width: $tab){
				margin-bottom: 48px;
			}
		
			@media (max-width: $tab){
				grid-template-columns: 1fr;
				grid-gap: 48px;
			}
		}

		&__caption{
			color: $color-black;
		}
		&__option{
			color: $color-text;
		}
		.posts {
			&__box{
				flex-grow: 1;
			}
			&__img {
				 max-height: 250px;
				
			}
	   }

		&__button{
			text-align: center;
		}
		&__button-grey{
			padding: 8px 46px;
		}
	}
}
//category section end


//.btn__container{
	//text-align: center;
	//margin-top: 78px;

	//&__button{
		//display: inline-block;
		//padding: 8px 46px 8px 46px;
		//background-color: brown;
	//}
//}
