.home{

//hero section
	.hero{
		&__title{
			max-width: 710px;
			padding: 128px 0;

			@media (max-width: $tab) {
				padding: 74px 0 40px;
		   }
		}
	}
}
 //hero section end


 //slider section
.slider{
	margin-bottom: 128px;

	@media (max-width: $tab){
		margin-bottom: 64px;
	}

	&__container{
		display: flex;
		gap: 32px;
      overflow: scroll;
		padding: $conteiner-size;

		&::-webkit-scrollbar {
			display: none;
	   }
	}

	&__item {
		min-width: 544px;

		@media (max-width: $tab) {
			min-width: 257px;
		}
	}

	&__img {
		margin-bottom: 16px;
   }
}
//slider section end


 //info section
.info{
	margin-bottom: 128px;
	
	@media (max-width: $tab){
		margin-bottom: 48px;;
	}
	&__container{
		display: flex;
		gap: 210px;

		@media (max-width: $tab){
			flex-direction: column;
			gap: 48px;
		}
	}
	&__inner{}
	&__title{
		//max-width: 430px;

		@media (max-width: $tab){
			max-width: 273px;
		}

		&--line-break{
			display: block;
		}
	}
	&__arrow{
		padding-top: 48px;

		@media (max-width: $tab){
			padding-top: 28px;
		}
	}

	&__content{
		max-width: 480px;

	}
	&__text:first-child{
		padding: 0 0 38px;
	}
}
//info section end


 //latest-posts section
.latest-posts{
	margin-bottom: 128px;
	
	@media (max-width: $tab){
		margin-bottom: 64px;
	}
	&__container{}
	&__header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;

		@media (max-width: $tab){
			flex-direction: column;
			gap: 8px;
			align-items: flex-start;
			margin-bottom: 48px;
		}
	}
	&__title{}
	&__view-all{
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 8px;
	}
	&__posts{
		display: flex;
		gap:  34px;

		@media (max-width: $tab){
			flex-direction: column;
			gap: 48px;
		}
	}
	.posts{
		width: 33.333%;

		@media (max-width: $tab) {
			width: 100%;
	  }
	}
}

 //latest-posts section end