
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
margin: 0;
}

body {
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	
	font-family: 'Poppins', sans-serif;
}

ul[class],
ol[class] {
list-style: none;
}


a:not([class]) {
text-decoration-skip-ink: auto;
text-decoration: none;
}


img {
	max-width: 100%;
	display: block;
}


article > * + * {
	margin-top: 1em;
}

input,
button,
textarea,
select {
	font: inherit;
}

a{
	text-decoration: none;
}


.header{
	width: 100%;
	height: 100vh;
	padding: 0 10%;
	background: #f7efef;
}
nav{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
	position: relative;
	z-index: 100;
}

nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 30px;
}
nav ul li a{
	text-decoration: none;
	color: #3f51b5;
}
.text-box{
	margin-top: 130px;
	max-width: 600px;
}
.text-box h1{
	font-size: 45px;
	margin-bottom: 20px;
	color: #3f51b5;
}
.text-box a {
	display: inline-block;
	color: #ffffff;
	background: #3f51b5;
	padding: 10px 30px;
	font-size: 18px;
	margin-top: 50px;
	border-radius: 8px;
}
.user-box{
	background: #d9e0ff;
	position: absolute;
	top: 0;
	right: 12%;
	z-index: 1;
}
.user-box img{
	display: block;
	padding-top: 100px;
	width: 410px;
	margin-bottom: -205px;
}


.footer{
	width: 100%;
	padding: 60px 10%;
	background: #d9e0ff;;
	color: #3f51b5;
	display: flex;
}
.footer div{
	text-align: center;
}
.col-2{
	flex-grow: 2;
}
.footer div h3{
	 font-weight: 300;
	 margin-bottom: 30px;
	 letter-spacing: 1px;
}
.col-1 a{
	display: block;
	margin-bottom: 10px;
}
form input{
	width: 400px;
	height: 45px;
	border-radius: 4px;
	text-align: center;
	margin: 20px 0 40px;
	outline: none;
	border: none;
}
form button{
	background: #3f51b5;
	color: #ffffff;
	border: none;
	border-radius: 8px;
	padding: 10px 30px;
	font-size: 18px;
	cursor: pointer;
}
.social-media{
	margin-top: 30px;
}
.social-media i{
	font-size: 22px;
	margin: 10px;
	cursor: pointer;
}