body {
	height: 100%;
	font-family: $main-font;
	background-color: #fff;
}

.page-wrapper{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.logo {
		min-width: 200px;
    //display: block;
    //margin-right: 50px;
	 //z-index: 10;
    //position: relative;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
	 padding: 0 30px;
	 width: 100%;
	 

	 //@media (max-width: $tab) {
		//font-size: 33px;
		//line-height: 50px;
	//}
}

.title {
    font-weight: 700;
    font-size: 70px;
    line-height: 84px;
    letter-spacing: 0.36px;
    color: $title-color;
    font-family: $main-font;
	 //@media (max-width: $tab) {
		//font-size: 33px;
		//line-height: 50px;
  	//}
}

.title-main {
	font-weight: 700;
	font-size: 45px;
	line-height: 84px;
	letter-spacing: 0.36px;
	color: $title-color;
	font-family: $main-font;
	//@media (max-width: $tab) {
	  //font-size: 33px;
	  //line-height: 50px;
	 //}
}


.sub-title {
	 font-family: $cursive-font;
    font-weight: 400;
    font-size: 36px;
	 line-height: 64px;
    letter-spacing: 0.36px;
    color: $decor-color;

	 //@media (max-width: $tab) {
		//font-size: 16px;
		//line-height: 27px;
  	//}
}

.sub-about{
	font-family: $main-font;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 52px;
	letter-spacing: 0.36px;
	color: #FFFFFF;
}

.text {
	 font-family: $sub-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.36px;
    color:$text-color;
	 //@media (max-width: $tab) {
	 //font-size: 16px;
	 //line-height: 27px;
  	///}
}

.sub-content{
	font-family: $main-font;
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 35px;
	letter-spacing: 0.36px;
	color: #274C5B;
}

.btn-yellow{
	display: inline-block;
	padding: 25px 20px 25px 33px;
	background-color: #EFD372;
	color: #274C5B;
	border-radius: 16px;
}



main{
	flex: 1 1 auto;
	//padding-top: 122px;
}





